<div class="container">
  <div class="header-section">
    <h3 class="title">Import</h3>
    <div routerLink="/home" class="pointer">
      <i class="fa fa-close"></i>
    </div>
  </div>
  <div class="importer">
    <div class="steps" #steps>
      <div class="step-1">
        <i class="fa fa-upload"></i>
        Player Data
      </div>
      <div class="step-2 ">
        <i class="fa fa-star"></i>
        Favourite
      </div>
      <div class="step-3">
        <i class="fa fa-list"></i>
        Summary
      </div>
    </div>
    <div class="player-data" *ngIf="step === 0">
      <app-import-players (extractedData)="next($event)" [importData]="importData"></app-import-players>
    </div>
    <div class="favourite-player" *ngIf="step === 1">
      <app-add-fav-player [playerList]="importData" (selectedPlayerData)="next($event)" (previousPage)="previous($event)"
      [favPlayerData]="favPlayer"></app-add-fav-player>
    </div>
    <div class="summary" *ngIf="step === 2">
      <app-summary (previousPage)="previous($event)" [favPlayer]="favPlayer" [importData]="importData"></app-summary>
    </div>
  </div>
</div>
